/BusinessLayer/CBS.Payment.Business/bin
/PresentationLayer/CBS.Payment.Notify/bin
/PresentationLayer/CBS.Payment.Services/bin
/EntityLayer/CBS.Payment.Entity/bin
/EntityLayer/CBS.Payment.DTO/bin
/DataLayer/CBS.Payment.Tenpay/bin
/DataLayer/CBS.Payment.DB/bin
/DataLayer/CBS.Payment.Alipay/bin
/CommonLayer/CBS.Payment.Utility/bin
/BusinessLayer/CBS.Payment.Business/obj
/PresentationLayer/CBS.Payment.Services/obj
/PresentationLayer/CBS.Payment.Notify/obj
/EntityLayer/CBS.Payment.Entity/obj
/EntityLayer/CBS.Payment.DTO/obj
/DataLayer/CBS.Payment.Tenpay/obj
/DataLayer/CBS.Payment.DB/obj
/DataLayer/CBS.Payment.Alipay/obj
/CommonLayer/CBS.Payment.Utility/obj
/PaymentDemo.suo
/PaymentDemo.v12.suo
