<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CBS.Payment.AdvancePay.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <CBS.Payment.AdvancePay.Properties.Settings>
      <setting name="CBS_Payment_AdvancePay_AdvanceServices_AdvanceDeal"
          serializeAs="String">
        <value>http://api.test.***/AdvanceDeal.asmx</value>
      </setting>
    </CBS.Payment.AdvancePay.Properties.Settings>
  </applicationSettings>
  <!--<applicationSettings configSource="Config\applicationSettings.Dev.config"/>-->
  <appSettings configSource="Config\AppSetting.Dev.config" />
  <connectionStrings configSource="Config\Database.Dev.config" />
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel >
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" />
    <behaviors configSource="Config\ServiceModel.Behaviors.config"/>
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>

</configuration>
