<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="log4net.Config" value="Config/log4net.config"/>
  <!--数据库连接解密密钥-->
  <add key="EncryptKey" value="aaa"/>
  <!--支付宝请求的超时时间-->
  <add key="Alipay_Timeout" value="12000"/>
  <!--支付宝异步通知页面地址-->
  <add key="Alipay_PayNotify_Url" value=""/>
  <add key="Alipay_PayReturn_Url" value=""/>
  <add key="Alipay_CAEPayNotify_Url" value=""/>
  <add key="Alipay_RefundNotify_Url" value=""/>
  <add key="Alipay_DbackNotify_Url" value=""/>
  <add key="Alipay_RoyaltyNotify_Url" value=""/>
  <add key="Alipay_SupplNotify_Url" value=""/>
  <add key="Alipay_TransNotify_Url" value=""/>
  <add key="Alipay_FreezeNotify_Url" value=""/>
  <add key="Alipay_UnFreezeNotify_Url" value=""/>
  <!--财付通请求的超时时间-->
  <add key="Tenpay_Timeout" value="60"/>
  <!--财付通通知页面地址-->
  <add key="Tenpay_PayReturn_Url" value=""/>
  
  <!--部署标识，用于保证不同服务器生成订单号的唯一性，取值范围1至9-->
  <add key="SystemID" value="1"/>
</appSettings>
