<?xml version="1.0" encoding="utf-8"?>
<behaviors>
  <serviceBehaviors>
    <behavior>
      <!-- 为避免泄漏元数据信息，请在部署前将以下值设置为 false -->
      <serviceMetadata httpGetEnabled="true"/>
      <!-- 要接收故障异常详细信息以进行调试，请将以下值设置为 true。在部署前设置为 false 以避免泄漏异常信息 -->
      <serviceDebug includeExceptionDetailInFaults="false"/>
    </behavior>
  </serviceBehaviors>
</behaviors>
